<form (ngSubmit)="submit()" #f="ngForm" class="login-form">
  <mat-form-field appearance="outline" style="width:100%">
    <mat-label>Username</mat-label>
    <input matInput name="username" [(ngModel)]="username" required>
  </mat-form-field>

  <mat-form-field appearance="outline" style="width:100%">
    <mat-label>Password</mat-label>
    <input matInput type="password" name="password" [(ngModel)]="password" required>
  </mat-form-field>

  <button mat-raised-button color="primary" [disabled]="f.invalid || loading">Login</button>
  @if (error) {
    <div class="error">{{error}}</div>
  }
</form>
