<mat-toolbar color="primary">
  <a class="brand" routerLink="/">
    <img src="brand/navbar-logo.png" alt="HL Deals" />
  </a>
  <span class="spacer"></span>

  <a mat-button routerLink="/">Home</a>
  @if (isUserOrAdmin) {
    <a mat-button routerLink="/home">My Deals</a>
  }
  @if (role==='admin') {
    <a mat-button routerLink="/admin">Admin</a>
  }

  <span class="spacer"></span>
  @if (!isAuthenticated) {
    <button mat-stroked-button routerLink="/login">Login</button>
  } @else {
    <button mat-stroked-button (click)="logout()">Logout ({{displayName}})</button>
  }
</mat-toolbar>
